html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.inputSelectCantProduct {
    width:100%;
}
.tdCantProduct {
    width: 10%;
}
.sizeLabelTextTotal {
    font-size: 40px;
    color: #3a45cb;
}
